<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- This package folder will be located one directory up from root of cloned repo folder. For example, if the Repo is cloned under c:\Repos\TestRepo,
         The NugetPackages folder will be c:\Repos\NugetPackages
    -->
    <add key="repositorypath" value="ext" />
    <add key="DefaultPushSource" value="\\localhost\c$\temp\localNugetPackageSource" />
    <add key="PackageSaveMode" value="nuspec" />
  </config>
  <solution>
    <!-- This is necessary to prevent nuget from adding packages and their content to source control. -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <!-- To test Nuget packages before publishing to official store, copy your *.nupkg to c:\temp\localNugetPackageSource
         and uncomment the following line to test the restore and consumption of the references
    -->
    <!-- <add key="Local Node" value="\\localhost\c$\temp\localNugetPackageSource" /> -->
    <!-- <add key="MyVSOProject" value="https://myvsoproject.pkgs.visualstudio.com/_packaging/MyProject/nuget/v3/index.json" /> -->
    <!-- <add key="Nuget" value="https://api.nuget.org/index.json" /> -->
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>

